<td-layout-manage-list opened="true" mode="side">

  <mat-nav-list td-sidenav-content>
    <mat-list-item [routerLink]="['./']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>教研室概况</h4>

    </mat-list-item>

    <mat-divider></mat-divider>
    <h3 mat-subheader>课程组</h3>
    <mat-list-item [routerLink]="['./techers']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>课程组A</h4>
      <p mat-line> 张老师</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['./students']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>课程组B</h4>
      <p mat-line> 张老师</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>帐号设置</h3>
    <mat-list-item [routerLink]="['./staff']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>密码修改</h4>
   
    </mat-list-item>
    <mat-list-item [routerLink]="['./setting']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>个人信息</h4>

    </mat-list-item>
  </mat-nav-list>


  <router-outlet></router-outlet>
</td-layout-manage-list>