<td-layout-manage-list opened="true" mode="side">

  <mat-nav-list td-sidenav-content>
    <mat-list-item [routerLink]="['./']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>系统概况</h4>

    </mat-list-item>
    <h3 mat-subheader>公告</h3>
    <mat-list-item [routerLink]="['./notice']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>公告发布</h4>
      <p mat-line> 新建公告</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['./notice']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>公告管理</h4>
      <p mat-line> 管理历史公告</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>用户管理</h3>
    <mat-list-item [routerLink]="['./techers']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>教师</h4>
      <p mat-line> 教师帐号管理</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['./students']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>学生</h4>
      <p mat-line> 学生帐号管理</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>设置</h3>
    <mat-list-item [routerLink]="['./staff']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>教研室/课程组设置</h4>
      <p mat-line> 包括设置主任，课程组长</p>
    </mat-list-item>
    <mat-list-item [routerLink]="['./setting']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>系统设置</h4>

    </mat-list-item>
    
  </mat-nav-list>


  <router-outlet></router-outlet>
</td-layout-manage-list>